:root {
  --primary-color: rgba(255, 53, 93, 0.85);
  --primary-color-hover: rgba(255, 53, 93);
  --secondary-color: rgba(18, 166, 179, 0.85);
  --secondary-color-hover: rgba(18, 166, 179);
  --white-color: rgba(244, 244, 245, 0.85);
  --white-color-hover: rgba(244, 244, 245);
  --grey-color: rgb(160, 174, 192, 0.85);
  --grey-color-hover: rgb(160, 174, 192);
  --grey-color-2: rgba(97, 101, 104, 0.85);
  --grey-color-2-hover: rgba(97, 101, 104);
  --black-color: rgba(26, 32, 44, 0.85);
  --black-color-hover: rgba(26, 32, 44);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: var(--white-color);
  width: 320px;
  color: var(--grey-color);
  border-radius: 1rem;
}

h2 {
  color: var(--black-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black-color);
  font-weight: 600;
  letter-spacing: 0.5px;
}

#intervalsContainer {
  margin-bottom: 18px;
}

.interval {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  /* background-color: var(--white-color); */
  /* border-radius: 6px; */
  /* border: 1px solid #e2e8f0; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
}

input[type='time'] {
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  margin-right: 8px;
  flex-grow: 1;
  color: #4a5568;
  background-color: #f8fafc;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px var(--primary-color-hover);
}

img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

button:hover {
  background-color: var(--primary-color-hover);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px var(--primary-color-hover);
}

.interval button {
  background-color: var(--primary-color);
  padding: 6px 10px;
  margin-left: 8px;
  font-size: 14px;
}

.interval button:hover {
  background-color: var(--primary-color-hover);
}

button#addIntervalBtn {
  background-color: var(--secondary-color);
  width: 100%;
  margin-bottom: 16px;
  font-size: 14px;
  box-shadow: 0 1px 3px var(--secondary-color-hover);
}

button#addIntervalBtn:hover {
  background-color: var(--secondary-color-hover);
}

button#clockInBtn {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 6px;
}

#clockInBtn:hover {
  background-color: var(--primary-color-hover);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4a5568;
  font-weight: 500;
}
